.App {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: flex-start; /* Align children at the top */
  align-items: center; /* Center the content horizontally */
  width: 100vw;
  height: 100vh;
  padding-top: 15px; /* Optional: add some space between the top and navbar */
  background-color: green;
}

.navbar {
  background-color: gray;
  height: 90px;
  width: 90%;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  margin-bottom: 20px; /* Adds space between the navbar and the content */
}

.navbar-button {
  display: flex;
  width: 100px;
  background-color: gray;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  color: black;
  align-items: center;
  justify-content: center;
}

.navbar-button:hover {
  background-color: lightgray;
}

.content {
  width: 100%;
  background-color: black;
  flex-grow: 1; /* Make the content area flexible to fill the remaining space */
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center content vertically */
  height: 100%; /* Make content area take up the full height available */
}


.market{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

.chart-section{
  width: 700px;
  height: 500px;
  outline: solid 1px black;
  position: relative;
  top: 40px;
  margin-left: 6vw;
  background-color: black;
  padding-left: 0px;
  padding-right: 20px;
}

.chart-button-group{
  width: auto;
  height: auto;
  margin-left: 40px;
  background-color: black;
}

.buttons {
  margin-right: 15px;
  color: white;
  background-color: black;
  border: none;
  position: relative;
  padding: 10px 15px;
  cursor: pointer;
}

.buttons.active {
  color: #10b981;
}

.buttons::after {
  content: '';
  position: absolute;
  bottom: -5px; /* Adjust to place the underline below the text */
  left: 50%;
  transform: translateX(-50%) scaleX(0); /* Start with no underline */
  width: 35px;
  height: 4px; /* Height of the underline */
  background-color: #10b981;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out; /* Smooth transition */
}

.buttons.active::after {
  transform: translateX(-50%) scaleX(1); /* Expand underline */
}


.order-section{
  width: 520px;
  height: 500px;
  /*outline: solid 1px white;*/
  position: relative;
  top: 40px;
  margin-right: 8vw;
  margin-left: auto;
  background-color: gray;
}

@media (max-width: 768px) {
  .chart-section {
    width: 90%;
    height: 100%;
    margin: 20px auto;
  }
  .market{
    flex-direction: column;
    align-items: center;
  }
  .order-section{
    width: 90%;
    top: 20px;
    margin: 20px auto;
  }
}

.chart-header{
  color: white;
  padding-left: 30px;
}

.chart-header h2,
.chart-header h3,
.chart-header p {
  margin: 0; /* Remove default margins */
  padding: 0; /* Reset padding, just in case */
}

.chart-header h2 {
  margin-bottom: 15px; /* Custom spacing */
}

.chart-header h3 {
  margin-bottom: 3px; /* Custom spacing */
}

.current-price{
  color: white;
}

.percent-change{
  color: white;
}

.search-bar-box{
  padding-left: 30px;
  margin-top: 20px;
}

.search-bar{
  border-radius: 3px;
  background-color: rgb(221, 221, 221);
}