.scroll-container {
    scrollbar-width: thin;
    scrollbar-color: gray transparent;
  }
  
  .scroll-container::-webkit-scrollbar {
    width: 8px; /* Scrollbar width */
    height: 8px; /* Horizontal scrollbar height */
  }
  
  .scroll-container::-webkit-scrollbar-thumb {
    background-color: gray; 
    border-radius: 4px; 
  }
  
  .scroll-container::-webkit-scrollbar-track {
    background: transparent; /* Transparent track */
  }
  