.order-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.qty-box{
    margin-right: 20px;
    width: 40%;
}

.price-box{
    margin-left: 20px;
    width: 40%;
}